In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import os
from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
directory = "/home/ucsd-train13/scratch/projects/rnaSeqAnalysis/"

counts_filtered = pd.read_csv(directory+"counts_filt.csv", index_col=0)
print(counts_filtered.shape)
counts_filtered.head()

(13503, 2065)

,2,3,4,5,6,7,8,9,10,11,...,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066
0,,,,,,,,,,,,,,,,,,,,,
ENSG00000118965.14,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
ENSG00000068079.7,1,0,0,1,2,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
ENSG00000120509.10,8,6,6,2,8,6,12,3,5,3,...,0,0,2,0,0,1,0,0,4,0
ENSG00000230614.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000166484.19,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#scale the counts of each cell to the total number of genes expressed
tpm = (counts_filtered / counts_filtered.sum())*10000
#counts_filtered.sum makes the sum of columns
tpm.head()

,2,3,4,5,6,7,8,9,10,11,...,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066
0,,,,,,,,,,,,,,,,,,,,,
ENSG00000118965.14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,2.864509,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
ENSG00000068079.7,0.199346,0.000000,0.000000,0.332602,0.683644,0.000000,0.347198,0.000000,0.000000,0.000000,...,0.0,0.000000,2.859594,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
ENSG00000120509.10,1.594769,1.791687,1.886259,0.665203,2.734575,2.067896,4.166377,1.121286,1.897389,1.186005,...,0.0,0.000000,5.719188,0.0,0.0,2.872738,0.0,0.0,11.524056,0.0
ENSG00000230614.3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
ENSG00000166484.19,0.000000,0.298614,0.000000,0.000000,0.000000,0.344649,0.000000,0.373762,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [6]:
tpm.to_csv (directory+"tpm.csv")